:root{
    --bg-color: #F4F7F3;
    --bg-form-color: #DEF6DD;
    --border-form-color: #359317;

    --bg-input-color: #E4F8F1;
    --border-input-color: #25720B;
    --placeholder-color: #B7D0C2;

    --text-label-color: #79C29A;

    --text-title-color: #25720B;
    --text-link-color: #598B64;

    --btn-color: #68C18C;
    --btn-text-color:#022D13;

    --success-color: #18CB99;
    --warning-color: #D9BC57;
    --danger-color: #CB5A5A;


}
*{
    margin: 0;
    padding: 0;
}
html{
    overflow: hidden;
    background-image: url('./images/background.svg');
    background-repeat: no-repeat;
    background-size: calc(45vh + 20vw);
    background-position: bottom left;
    height: 100vh;
}
.App{
    padding: 2.5% 10%;
    display: flex;
    justify-content: end;
}

#form-cadastro::before {
    animation: rotateLeafRegister 0.75s forwards;

}

@keyframes rotateLeafRegister {
    from{
        left: -51px;
        top: -78px;
    }
    to{
        transform: rotate(-25deg);
        top: -110px;
        left: -45px
    }
}